<% if (statues) { %>
  <% statueKeys = Object.keys(statues) %>
  <% for (var i = 0; i < statueKeys.length; i++) { %>
    <% const sId = statueKeys[i]; %>
    <% const isFlagged = statues[sId].isFlagged; %>
    <% const isPrivate = statues[sId].isPrivate; %>
    <% const likesCount = statues[sId].like; %>
    <% const dislikesCount = statues[sId].dislike; %>
    <div class="card-container col-md-6 col-lg-4"
      data-groups='["<%= isFlagged ? "flagged" : "unflagged" %>", "<%= isPrivate ? "private" : "public" %>"]'
      data-likes-count="<%= likesCount %>"
      data-dislikes-count="<%= dislikesCount %>">
      <%- include('statueCard', {
        statueId: sId,
        statue: statues[sId],
        map: maps[sId]
      }) %>
    </div>
  <% } %>
<% } else { %>
  <h3 id="noStatue" class="text-center">No statues found..</h3>
<% } %>