<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/campus-map.css">
  <link rel="stylesheet" href="/css/statue-list.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="jumbotron text-center">
      <h1>Campus Map</h1>
      <br>
      <h5>Click on a marker to edit a statue</h5>
    </div>
    <div class="container">
      <div class="row">
        <div id="map"></div>
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
<script>

  $(document).ready(function() {
    $('#map').on('submit', '.statue-flag-form', function(ev) {
      ev.preventDefault();
      const $this = $(ev.target);
      const statueId = $this.find('input[name=statueId]').val();
      const isFlagged = $this.find('input[name=isFlagged]').val();
      $.ajax({
        url: '/statue-flag',
        method: 'POST',
        data: {
          isFlagged: isFlagged,
          statueId: statueId,
          isJson: 1
        },
        success: function(data) {
          const statueId = data.statueId;
          const $statueCard = $('#statue' + statueId);
          $statueCard.find('.text-flag')[0].innerText = data.isFlagged;
          $statueCard.find('.flag-btn')[0].innerText = data.isFlagged ? 'Unflag' : 'Flag';
          $statueCard.find('input[name=isFlagged]').val(data.isFlagged);
        },
        error: function(xhr) {
        }
      });
    });

    $('#map').on('submit', '.statue-private-form', function(ev) {
      ev.preventDefault();
      const $this = $(ev.target);
      const statueId = $this.find('input[name=statueId]').val();
      const isPrivate = $this.find('input[name=isPrivate]').val();
      $.ajax({
        url: '/statue-private',
        method: 'POST',
        data: {
          isPrivate: isPrivate,
          statueId: statueId,
          isJson: 1
        },
        success: function(data) {
          const statueId = data.statueId;
          const $statueCard = $('#statue' + statueId);
          $statueCard.find('.text-private')[0].innerText = data.isPrivate ? 'Private' : 'Public';
          $statueCard.find('.private-btn')[0].innerText = data.isPrivate ? 'Set public' : 'Set private';
          $statueCard.find('input[name=isPrivate]').val(data.isPrivate);
        },
        error: function(xhr) {

        }
      });
    });

    $('#map').on('submit', '.statue-remove-form', function(ev) {
      ev.preventDefault();
      let errMsg = 'Are you sure that you want to delete statue: \n\n' + ev.target.dataset['statueName'] + '?';
      if (confirm(errMsg)) {
        const $this = $(ev.target);
        const statueId = $this.find('input[name=statueId]').val();
        $.ajax({
          url: '/statue',
          method: 'POST',
          data: {
            statueId: statueId,
            isJson: 1
          },
          success: function(data) {
            location.reload();
          },
          error: function(xhr) {

          }
        });
      }

    });

  });

 
  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      styles: [
        {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9469ae"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "administrative.country",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9469ae"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9469ae"
            }
          ]
        },
        {
          "featureType": "administrative.locality",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9469ae"
            }
          ]
        },
        {
          "featureType": "administrative.neighborhood",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9469ae"
            }
          ]
        },
        {
          "featureType": "administrative.province",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9469ae"
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#d0d0d0"
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#d0d0d0"
            }
          ]
        },
        {
          "featureType": "landscape.man_made",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#f4f1f7"
            }
          ]
        },
        {
          "featureType": "landscape.man_made",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#f9effd"
            }
          ]
        },
        {
          "featureType": "landscape.natural",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#f4f1f7"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#968cb4"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "poi.attraction",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#d9d0f6"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#b1ecc9"
            }
          ]
        },
        {
          "featureType": "poi.school",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#d9d0f6"
            }
          ]
        },
        {
          "featureType": "poi.sports_complex",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#b1ecc9"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#fdf3d9"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#d0d0d0"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road.highway.controlled_access",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#fdf3d9"
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9678b4"
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#a3a6f6"
            }
          ]
        }
      ],
      center: {
        lat: 33.777993,
        lng: -84.398108
      }
    });
    let marker;
    <% Object.keys(maps).forEach((m, i) => { %>
      marker = new google.maps.Marker({
        position: {
          lat: <%= maps[m].latitude %>,
          lng: <%= maps[m].longitude %>
        },
        map: map,
        id: "<%= m %>"
      });

      marker.addListener('click', (function(marker, i) {
        marker = this;
        $.ajax({
          url: '/statue/' + marker.id,
          success: function(data) {
            const statue = data.statue;
            const previewPicURL = statue.statuePreviewPicURL;
            const imageURL = previewPicURL ? previewPicURL.substr(0, 95) + '%2f' + previewPicURL.substr(96) : '';
            const str =
              '<div class="card" ' + ' id="statue' + marker.id + '"' + '>' +
                '<img class="card-img-top" src="' + imageURL + '" alt="' + statue.name + '">' +
                '<div class="card-body">' +
                  '<h5 class="card-title">' + statue.name + '</h5>' +
                  '<p class="card-text">' + statue.description + '</p>' +
                  '<div class="statue-info-container">' +
                    '<p class="statue-info">Like: <span>' + statue.like + '</span></p>' +
                    '<p class="statue-info">Dislike: <span>' + statue.dislike + '</span></p>' +
                    '<div class="option-container">' +
                      '<span class="statue-info">Flagged: <span class="text-flag">' + statue.isFlagged + '</span></span>' +
                      '<form class="statue-flag-form" action="/statue-flag" method="post">' +
                        '<input type="hidden" name="statueId" value="' + marker.id + '">' +
                        '<input type="hidden" name="isFlagged" value="' + statue.isFlagged + '">' +
                        '<button class="flag-btn btn alert-danger" type="submit" class="btn alert-danger remove-btn" data-statue-name="' + statue.name + '">' +
                        (statue.isFlagged ? 'Unflag' : 'Flag') +
                        '</button>' +
                      '</form>' +
                    '</div>' +
                    '<div class="option-container">' +
                      '<span class="statue-info"><span class="text-private">' + (statue.isPrivate ? 'Private' : 'Public') + '</span></span>' +
                      '<form class="statue-private-form" action="/statue-private" method="post">' +
                        '<input type="hidden" name="statueId" value="' + marker.id + '">' +
                        '<input type="hidden" name="isPrivate" value="' + statue.isPrivate + '">' +
                        '<button class="private-btn btn alert-danger" type="submit" class="btn alert-danger remove-btn" data-statue-name="' + statue.name + '">' +
                        (statue.isPrivate ? 'Set public' : 'Set private') +
                        '</button>' +
                      '</form>' +
                    '</div>' +
                  '</div>' +
                  '<div class="button-container">' +
                    '<form class="statue-remove-form" action="/statue" method="post" data-statue-name="' + statue.name + '">' +
                      '<input type="hidden" name="statueId" value="' + marker.id + '">' +
                      '<button class="remove-btn btn alert-danger" type="submit" class="btn alert-danger remove-btn">Remove</button>' +
                    '</form>' +
                  '</div>' +
                '</div>' +
              '</div>';
            const infowindow = new google.maps.InfoWindow({
              content: str
            });
            infowindow.open(map, marker);
          },
          error: function(xhr) {

          }
        });
      }));
    <% }) %>


    const userLocationInfoWindow = new google.maps.InfoWindow;
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        userLocationInfoWindow.setPosition(pos);
        userLocationInfoWindow.setContent('Location found.');
        userLocationInfoWindow.open(map);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      userLocationInfoWindow.setPosition(pos);
      userLocationInfoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      userLocationInfoWindow.open(map);
    }
}

</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.NODE_ENV === 'production' ? 'AIzaSyDAoa3AC0rswHP4W5R17Po4UQqTEWeqstg' : 'AIzaSyC-126jQxDJMWuci63ka1o_NtHoWogIudk'  %>&callback=initMap">
  </script>
  </html>
