<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/campusMap.css">
  <link rel="stylesheet" href="/css/statue.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="jumbotron text-center">
      <h1>Campus Map</h1>
      <br>
      <h5>Click on a marker to edit a statue</h5>
    </div>
    <div class="container">
      <div class="row">
        <div id="map" class="card-forms-container"></div>
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>

<script src="/js/shared/statueForms.js"></script>
<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      styles: <%- JSON.stringify(mapDesign) %>,
      center: {
        lat: 33.777993,
        lng: -84.398108
      }
    });
    let marker;
    <% Object.keys(maps).forEach((m, i) => { %>
      marker = new google.maps.Marker({
        position: {
          lat: <%= maps[m].latitude %>,
          lng: <%= maps[m].longitude %>
        },
        map: map,
        id: "<%= m %>"
      });

      marker.addListener('click', (function(marker, i) {
        marker = this;
        $.ajax({
          url: '/statues/card/' + marker.id,
          success: function(data) {
            const infowindow = new google.maps.InfoWindow({
              content: data
            });
            infowindow.open(map, marker);
          },
          error: function(xhr) {
          }
        });
      }));
    <% }) %>

    const userLocationInfoWindow = new google.maps.InfoWindow;
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        userLocationInfoWindow.setPosition(pos);
        userLocationInfoWindow.setContent('Location found.');
        userLocationInfoWindow.open(map);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      userLocationInfoWindow.setPosition(pos);
      userLocationInfoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      userLocationInfoWindow.open(map);
    }
  }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.NODE_ENV === 'production' ? 'AIzaSyDAoa3AC0rswHP4W5R17Po4UQqTEWeqstg' : 'AIzaSyC-126jQxDJMWuci63ka1o_NtHoWogIudk'  %>&callback=initMap">
  </script>

</html>
