<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/campusMap.css">
  <link rel="stylesheet" href="/css/statueList.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="jumbotron text-center">
      <h1>Campus Map</h1>
      <br>
      <h5>Click on a marker to edit a statue</h5>
    </div>
    <div class="container">
      <div class="row">
        <div id="map"></div>
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
<script>

  $(document).ready(function() {
    $('#map').on('submit', '.statue-flag-form', function(ev) {
      ev.preventDefault();
      const $this = $(ev.target);
      const statueId = $this.find('input[name=statueId]').val();
      const isFlagged = $this.find('input[name=isFlagged]').val();
      $.ajax({
        url: '/statues/flag',
        method: 'POST',
        data: {
          isFlagged: isFlagged,
          statueId: statueId
        },
        success: function(data) {
          const $statueCard = $('#statue' + data.statueId);
          $statueCard.find('.text-flag')[0].innerText = data.isFlagged;
          $statueCard.find('.flag-btn')[0].innerText = data.isFlagged ? 'Unflag' : 'Flag';
          $statueCard.find('input[name=isFlagged]').val(data.isFlagged);
        },
        error: function(xhr) {
        }
      });
    });

    $('#map').on('submit', '.statue-private-form', function(ev) {
      ev.preventDefault();
      const $this = $(ev.target);
      const statueId = $this.find('input[name=statueId]').val();
      const isPrivate = $this.find('input[name=isPrivate]').val();
      $.ajax({
        url: '/statues/private',
        method: 'POST',
        data: {
          isPrivate: isPrivate,
          statueId: statueId
        },
        success: function(data) {
          const $statueCard = $('#statue' + data.statueId);
          $statueCard.find('.text-private')[0].innerText = data.isPrivate ? 'Private' : 'Public';
          $statueCard.find('.private-btn')[0].innerText = data.isPrivate ? 'Set public' : 'Set private';
          $statueCard.find('input[name=isPrivate]').val(data.isPrivate);
        },
        error: function(xhr) {
        }
      });
    });

    $('#map').on('submit', '.statue-remove-form', function(ev) {
      ev.preventDefault();
      let errMsg = 'Are you sure that you want to delete statue: \n\n' + ev.target.dataset['statueName'] + '?';
      if (confirm(errMsg)) {
        const $this = $(ev.target);
        const statueId = $this.find('input[name=statueId]').val();
        $.ajax({
          url: '/statues/remove',
          method: 'POST',
          data: {
            statueId: statueId
          },
          success: function(data) {
            location.reload();
          },
          error: function(xhr) {

          }
        });
      }

    });

  });

 
  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      styles: <%- JSON.stringify(mapDesign) %>,
      center: {
        lat: 33.777993,
        lng: -84.398108
      }
    });
    let marker;
    <% Object.keys(maps).forEach((m, i) => { %>
      marker = new google.maps.Marker({
        position: {
          lat: <%= maps[m].latitude %>,
          lng: <%= maps[m].longitude %>
        },
        map: map,
        id: "<%= m %>"
      });

      marker.addListener('click', (function(marker, i) {
        marker = this;
        $.ajax({
          url: '/statues/card/' + marker.id,
          success: function(data) {
            const infowindow = new google.maps.InfoWindow({
              content: data
            });
            infowindow.open(map, marker);
          },
          error: function(xhr) {
          }
        });
      }));
    <% }) %>


    const userLocationInfoWindow = new google.maps.InfoWindow;
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        userLocationInfoWindow.setPosition(pos);
        userLocationInfoWindow.setContent('Location found.');
        userLocationInfoWindow.open(map);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      userLocationInfoWindow.setPosition(pos);
      userLocationInfoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      userLocationInfoWindow.open(map);
    }
}

</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.NODE_ENV === 'production' ? 'AIzaSyDAoa3AC0rswHP4W5R17Po4UQqTEWeqstg' : 'AIzaSyC-126jQxDJMWuci63ka1o_NtHoWogIudk'  %>&callback=initMap">
  </script>
  </html>
