<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/statueList.css">
</head>
<body>
  <%- include('partials/header', { hasLoggedIn: true }) %>
  <main>
    <div class="jumbotron text-center">
      <h1>Statue Lists</h1>
    </div>
    <div class="container">
      <div class="row">
        <% for (let sId in statues) { %>
          <div class="card-container col-sm-4">
            <div class="card">
              <img class="card-img-top" src="<%= statues[sId].image %>" alt="<%= statues[sId].name %>">
              <div class="card-body">
                <h5 class="card-title"><%= statues[sId].name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= statues[sId].statueAsset %></h6>
                <p class="card-text"><%= statues[sId].description %></p>
                <form action="/statue" method="post">
                  <input type="hidden" name="statueId" value="<%= sId %>">
                  <button type="submit" class="btn alert-danger remove-btn" data-statue-name="<%= statues[sId].name %>">Remove</button>
                </form>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $('form').click(function(ev) {
      ev.preventDefault();
      let errMsg = 'Are you sure that you want to delete statue:' + ev.target.dataset['statueName'] + '?';
      if (confirm(errMsg)) {
        $(this).unbind('submit').submit();
      }
    })
  })
</script>
</html>
